.company {
    background-color: #4386ca;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apresentacao-company {
    color: #000000;
    display: flex;
    background-color: rgb(247, 247, 247);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 3rem;
    padding: 3vw;
    width: 60vw;
    height: 70vh;
    box-shadow: 0px 0px 90px -5px #09384d;
    gap: 10px;
    
}

.apresentacao-company h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

.apresentacao-company p {
    font-weight: 400;
    font-size: 1rem;
}


.title{
    display: flex;
    align-items: center;
    font-size: 4rem;
}

.title__empres{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
}