.menu {
    display: flex;
    gap: 5vw;
    font-size: 2.7vh;
    justify-content: center;
    color: aliceblue;
}

.menu li {
    border-bottom: .12rem solid transparent;   
    transition: border-color 0.5s;
}

.menu li:hover {
    border-color: aliceblue;
}

#logo {
    width: 100%;
    height: 5vw;
}
