.problem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5vw;
    background-color: #003F71;
    box-shadow: inset 0vw 0vw 8vw 5vw #00233fd3;
}

.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#tituloProblem {
    font-size: 4vw;
    color: #fff;
}

.fa-water {
    font-size: 10vw;
    color: #1A769F;
}

#ondaDireita {
    color: rgb(0, 0, 0, 0);
}

.cartasProblema {
    display: flex;
    gap: 5vw;
}

.boxProblema {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-radius: 2rem;
    padding: 1.5vw;
    width: 18vw;
    height: 27vw;
}

.textoProblema {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.boxProblema h2 {
    text-align: center;
    font-size: 2vw;
}

.boxProblema p {
    text-align: justify;
    width: 14vw;
    font-size: 1vw;
}
.imagemNavio {
    border-radius: 2rem;
    width: 15vw;
}

.boxProblema ul {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.navioPNG {
    width: 40vw;
}