/* .introduction {
    background-color: blue;
} */

/* .problem {
    background-color: yellow;
} */

.soluction {
    background-color: green;
}

.company {
    background-color: palevioletred;
}
/* 
.links {
    background-color: rebeccapurple;
} */
